/* *PC */
@media (min-width: 1024) {}

/* *Tablet */
@media (min-width: 741px) and (max-width: 1023px) {}

/* *Tablet and mobile*/
@media (max-width: 1023px) {

   /* *fix UX để người dùng trải nghiệm thoải mái trên giao diện iPad và  (button, input, SĐT, email, link zoom to hơn để dễ dùng ) */
   .btn {
      padding: 15px 16px;
   }

   .place-section {
      width: 100%;
   }

   .contact-info {
      line-height: 1.9;
      font-size: 19px;
   }

   .contact-form .form-control {
      padding: 13px;
   }

   #footer .item-list i {
      margin: 0 8px;
      font-size: 35px;
   }

   #footer .copyright {
      font-size: 20px;
      padding: 12px 0;
   }
}

/* *Mobile */
@media (max-width: 740px) {

   #header {
      overflow: hidden;
      /* Khi con của header vượt qua giới hạn của cha(46px) thì nó tự động ẩn đi */
   }

   #slider .text-content {
      bottom: 15px;
   }

   #slider .text-heading {
      font-weight: 400;
      /* *Làm mỏng chữ */
      font-size: 20px;
   }
   
   #slider .text-description {
      margin-top: 10px;
      font-size: 10px;
   }

   #nav {
      display: block;
   }

   #nav>li:first-child {
      display: inline-block;
      /* *inline-block: làm cho thẻ chạm đáy với thẻ phía trên thành 1 khói riêng khi padding */
   }

   /* CSS cho phần tử <li> là con trực tiếp đầu tiên của <nav> */

   #nav>li {
      display: block;
   }

   /* Trải dài thẻ li 100 trên mobile(thang ngang contact ...) hướng đến trải nghiệm người dùng(UX) */

   .btn {
      width: 100%;
   }

   .pull-right {
      /* float: right !important; */
      margin-top: 10 px !important;
      float: left !important;
      height: 39 px;
      margin-left: 4px;
   }

   #header .mobile-menu-btn {
      display: block;
   }

   #header .search-btn {
      display: none;
   }

   .s-col-full {
      width: 100%;
      margin-bottom: 16px;
   }

   .s-col-full-form {
      width: 100%;
      padding: 8px 8px 0 12px;
   }

   #content .member-img {
      width: 60%;
      height: auto;
   }
}