/* Reset CSS */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   /* *scroll-behavior: smooth: hành vi khi cuộn (smooth: hiệu ứng lướt sóng) */
   scroll-behavior: smooth;
   font-family: Helvetica, Arial, sans-serif;
   line-height: 1.5;
}

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng
 */

/* !Common: những cái chung */
.clear {
   clear: both;
}

.text-white {
   color: #fff !important;
   /* *Độ ưu tiên trong css: !important là mạnh nhất */
}

.text-center {
   text-align: center !important;
}

.pull-right {
   float: right !important;
   margin-top: 10px !important;
}

.btn {
   border-radius: 7px;
   padding: 8px 16px;
   background-color: #000;
   color: #fff;
   text-decoration: none;
   display: inline-block;
   font-size: 14.5px;
   text-align: center;
   margin: 0 53px;
   cursor: pointer;
   border: none;
   margin-right: 8px;
}

.btn:hover {
   color: #000;
   background-color: #ccc;
}

.row {
   margin-left: -16px;
   margin-right: -16px;
}

.row::before {
   content: "";
   display: block;
   clear: both;
}

.col {
   float: left;
   padding: 0 8px;
}

.col-full {
   width: 100%;
}

.col-second {
   width: 50%;
}

.col-third {
   width: 33.33333333%;
}

.modal-btn:hover {
   color: #000;
   background-color: #ccc;
}

/* *Một khi đã dùng class col,row thì không dùng các thuộc tính ghè đề lại, vd: khi dùng col-second thì không css lại thuộc tính WIDTH
   !Muốn css lại thuộc tính đó tạo một thẻ <> rồi css riêng cho nó */



/* !Main */
#main {}

#header {
   height: 46px;
   background-color: black;
   position: fixed;
   /* position: fixed -> cố định so với trình duyệt khi bị cuộn không bị trôi */
   top: 0;
   right: 0;
   left: 0;
   z-index: 1;
}

#nav {
   display: inline-block;
}

#nav,
.subnav {
   list-style-type: none;
   /* Bỏ dấu chấm ở đầu thẻ <li> */
}

#nav>li {
   display: inline-block;
}

#nav li {
   position: relative;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, serif;
   font-weight: 400;
}

#nav>li>a {
   color: #fff;
   text-transform: uppercase;
   /* chuyển đổi tất cả về chữ viết hoa */
}

#nav li a {
   /* text-decoration: none; bỏ gạch dưới ở thẻ <a> */
   text-decoration: none;
   line-height: 46px;
   padding: 0 24px;
   display: block;
   /* block: kế thừa chiều ngang của thẻ chứa nó */
}

#nav>li:hover .subnav {
   display: block;

}

#nav .subnav li:hover,
#nav>li:hover>a {
   color: #000;
   background-color: #ccc;
}

#nav .subnav {
   display: none;
   min-width: 160px;
   top: 100%;
   left: 0;
   position: absolute;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
   color: #000;
   padding: 0 14px;
   line-height: 38px;
}

#nav .nav-arrow-down {
   font-size: 13px;
}

#header .search-btn:hover {
   background-color: #f44336;
   cursor: pointer;
   /* re chuột vào đổi thành bàn tay và có background màu đỏ */

}

#header .search-btn {
   float: right;
   /* Ép button search vào góc phải header */
   padding: 0 23px;

}

#header .search-icon {
   line-height: 46px;
   color: #fff;
   font-size: 20px;
}

#slider {
   margin-top: 46px;
   padding-top: 50%;
   /* *phần đệm phía trên bằng tổng 50% chiều rộng của chính nó */
   background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
   position: relative;
}

#slider .text-content {
   position: absolute;
   color: #fff;
   text-align: center;
   bottom: 48px;
   /* left: 50%;
   transform: translateX(-50%); */
   /* left: 0;
   right: 0; */
   /* *3 cách dùng để canh giữa */
   width: 100%;

}

#slider .text-heading {
   font-weight: 500;
   /* *Làm mỏng chữ */
   font-size: 24px;
}

#slider .text-description {
   margin-top: 15px;
   font-size: 15px;
}


#content {}

#content .content-section {
   width: 800px;
   margin: auto auto;
   padding: 64px 16px;
}

#content .section-heading {
   font-size: 30px;
   font-weight: 400;
   text-align: center;
   margin: 10px 0;
   font-family: 'Segoe UI', Arial, Verdana, sans-serif;
   letter-spacing: 4px;
}

#content .section-sub-heading {
   text-align: center;
   margin: 15px 0;
   font-size: 15px;
   opacity: 0.6;
}

#content .about-text {
   /* Canh lề 2 bên */
   text-align: justify;
   font-size: 15px;
}

#content .member-list {
   padding: 32px 0;
   /* overflow: hidden: cũng để giải quyết tình trạng float: left */
}

#content .member-item {
   /* float: left;
   width: 33.33333%;
   width: calc(100% / 3);
   text-align: center; */
   /* *thay thế bằng class col, col-third, text-center   */
}

#content .member-name {
   margin: 15px 0;
   font-size: 15px;
}

#content .member-img {
   width: 154px;
   height: 154px;
   border-radius: 7px;
   margin: 0 0 16px;
   /* *border-radius: tạo đường bo góc */
}

/* *TOUR section */
.tour-section {
   background-color: #000;
}

.tickets-list {
   list-style-type: none;
   background-color: #fff;
   margin-top: 40px;
   margin-bottom: -16px;
}

.tickets-list li {
   border-bottom: 1px solid #ddd;
   height: 40px;
   padding: 8px 16px;
   color: #757575;
   font-size: 15px;

}

.tickets-list .sold-out {
   color: #fff;
   background-color: #f44336;
   margin-left: 16px;
   padding: 3px 8px;

}

.tickets-list .quantity {
   width: 24px;
   height: 24px;
   margin-right: 16px;
   padding: 0 8px;
   border-radius: 50%;
   background-color: #000;
   color: #fff;
   float: right;
   text-align: center;
}

/* !Places Tour */

.places-list {
   /* margin: 0px -16px; thay thế bởi class row */
   padding: 48px 8px;
   /* Kỹ thuật pha trộn margin âm và padding để cân bằng lề */
}

.places-item {
   /* float: left; */
   /* width: 33.33333%;: thay thế bằng class col-third */
   /* padding: 0 8px; */
   /* Thay thế bằng class col */
}

.place-img {
   /* width: 244.5px; */
   height: 184px;
   width: 100%;
   display: block;
   /* display: block để loại bỏ khoảng trống do inline tạo nên */
}

.place-img:hover {
   opacity: 0.6;
   /* transform: scale(1,1); */
   /* re chuột vào làm mờ ảnh 0.6 */
}


.place-body {
   color: #000;
   background-color: #fff;
   padding: 16px;
   font-size: 15px;
}

.place-head {}

.place-time {
   margin: 15px 0;
   opacity: 0.6;
}

.place-desc {
   margin: 15px 0;
   line-height: 1.4;
}

/* !Contact content */
.contact-content {
   padding-top: 32px;
}

.contact-info {
   font-size: 18px;
   line-height: 1.7;
}

.contact-info i {
   display: inline-block;
   width: 30px;
}

.contact-form {
   font-size: 15px;
   margin: 0 -8px 112px;
   padding: 0 0px;
}

.contact-form .form-control {
   padding: 10px;
   width: 100%;
   border: 1px solid #ccc;
   font-size: 15px;
}

.contact-t {
   width: 100%;
   display: inline-block;
   margin: 0;

}

/* .submit-btn {
   margin-top: 16px;
   float: right;
   padding: 11px 20px;
   background-color: #000;
   color: #fff;
   border: 1px;
   margin-right: 8px;
   text-transform: uppercase;
   border-radius: 13px;
}

.submit-btn:hover {
   background-color: #ccc;
   color: #000;
   cursor: pointer;
} */


img {
   width: 100%;
   vertical-align: middle;
   filter: grayscale(50%);
   display: inline-block;
}

#footer {
   margin: 70px 0;
}

#footer .item-list {
   text-align: center;
   font-size: 30px;
}

#footer .copyright a:hover,
.item-list i:hover {
   opacity: 0.6;
}

#footer .copyright {
   color: #757575;
   text-align: center;
}

.modal {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.4);
   /* *display: flex: để có thể css cho con của modal (ở đây là container)   */
   align-items: center;
   justify-content: center;
   display: none;
}

/* ?một thẻ vừa có class modal vừa có class open thì mới được css */
.modal.open {
   display: flex;

}

.modal-container {
   background: #fff;
   width: 900px;
   /* *max-width: calc(100%-60px): khi thu nhỏ màn hình lại chiều rộng tối đa của container là mỗi bên cách màn hình 30px */
   max-width: calc(100% - 120px);
   min-height: 200px;
   position: relative;
}

.modal-close .ti-close {
   position: absolute;
   right: 0;
   top: 0;
   color: #fff;
   padding: 12px;
   cursor: pointer;
}

.modal-close .ti-close:hover {
   color: #000;
   background-color: rgb(233, 59, 59);
}

header.modal-header {
   background-color: #009688;
   height: 129px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   color: #fff
}

.modal-body {
   padding: 16px;
   font-size: 15px;
}

label.modal-lable {
   display: block;
   margin-bottom: 8px;
}

.modal-input {
   border: 1px solid #ccc;
   width: 100%;
   padding: 11px;
   margin-bottom: 25px;
}

#buy-tickets {
   width: 100%;
   padding: 13px;
   margin: 18px 0;
   background-color: #009688;
   border: 1px;
   color: #fff;
   border-radius: 7px;
   cursor: pointer;
   font-weight: bolder;
}

#buy-tickets:hover {
   opacity: 0.7;
}

footer.modal-footer {
   padding: 0 16px;
   float: right;
   margin-bottom: 34px;
}

.modal-footer a {
   text-decoration: none;
   color: blue;
}